.btn-color{
    color:#7FDEEA;
    font-weight: bold;
    font-size: 1,5rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.btn-color:hover {
    background-color: #7FDEEA;
    color: white;
  }
.text{
    color:#7FDEEA; 
  }
  .navbar-light .navbar-brand {
    color:#7FDEEA; 
}
.navbar-light:hover .navbar-brand:hover {
    color:white; 
}